.App {
  text-align: center;
  box-sizing: border-box;
}

.buttons {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  gap: 20px;
}

.buttons > button {
  height: 50px;
  color: #333;
  background-color: #fff;
  width: auto;
  min-width: 50px;
  outline: none;
  border: 1px solid #fff;
  border-radius: 4px;
  font-weight: 700;
  font-size: 17px;
  cursor: pointer;
}




